<include file="public@header"/>
</head>
<body>
<div class="layui-layout">

    <form class="layui-form layui-form-pane" action="{:url('_models_en_name_/add_action')}" method="post">
        <fieldset class="layui-elem-field">
            <legend>添加_models_zh_name_</legend>

            <div class="layui-field-box">

                _add_form_component_

            </div>


        </fieldset>


        <div class="layui-form-item">
            <div class="layui-input-inline ">
                <button class="layui-btn"  lay-submit data-call-back="reload_table" >提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>

<link href="/static/plugin/layui/css/layui.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/plugin//layui/layui.js"></script>
<script type="text/javascript" src="/static/plugin/lay-extend-module/config.js"></script>


_CMakerJs_

</body>
</html>

