<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MvcBuilder</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">

</head>
<body class="body">

<div class="layui-layout">
    <form class="layui-form " action="{:url('mvcbuilder/build_menu_action')}" method="post" lay-filter="search">
        <fieldset class="layui-elem-field" >
            <legend>模块基本信息</legend>
            <div class="layui-field-box" >

                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">模块中文名称</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="text" class="layui-input" name="module_name" lay-verify="required"  placeholder="模型中文名称">-->
                    <!--</div>-->
                <!--</div>-->


                {:CMaker('text')->label('模块目录')
                ->name('module')
                ->helpinfo()
                ->placeholder('控制器所在模块的目录')
                ->layVerify('required')
                ->render()}

                {:CMaker('text')->label('图标Class')
                ->name('icon')
                ->helpinfo('')
                ->placeholder()
                ->render()}

                {:CMaker('switchs')->label('作为顶级菜单')
                ->name('istoplevel')
                ->text('是|否')
                ->open(1)
                ->layFilter('istop')
                ->helpinfo('')
                ->render()}

                {:CMaker('text')->label('顶级菜单名称')
                ->name('topmenu')
                ->helpinfo('')
                ->render()}

                {:CMaker('checkbox')->label('选择模型')
                ->name('models_id')
                ->option($models)
                ->fields('id,models_name')
                ->layVerify('required')
                ->render()}


            </div>
        </fieldset>


<!--
        <fieldset class="layui-elem-field" style="width: 58%;float: left;">
            <legend>模型排序</legend>
            <div class="layui-field-box dragula" style="min-height: 300px;padding:10px;">

            </div>
        </fieldset>
        <fieldset class="layui-elem-field "  style="width: 38%;float: right;">
            <legend>选择模型</legend>
            <div class="layui-tab layui-tab-brief  dragula" lay-filter="component" style="padding:10px;">
                {foreach $models as $k => $vo}
                <blockquote class="layui-elem-quote" data="{$vo.id}">{$vo.models_name}</blockquote>
                {/foreach}
            </div>
        </fieldset>
-->


        <div class="layui-form-item" style="margin-left: 36%">
            <div class="layui-input-inline ">
                <button class="layui-btn"  lay-submit>提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript" src="/static/plugin/layui/layui.js"></script>
<script type="text/javascript" src="/static/plugin/lay-extend-module/config.js"></script>

<script>
    layui.use(['form'],function () {
        var form = layui.form;
        var $ = layui.jquery;
        $('input[name=topmenu]').parents('.layui-form-item').css('display','none');

        form.on('switch(istop)', function(data){
            if(data.elem.checked == false){
                $('input[name=topmenu]').parents('.layui-form-item').fadeIn();
            }else{
                $('input[name=topmenu]').parents('.layui-form-item').fadeOut();
            }

        });
    })
</script>


</body>
</html>