<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>MvcBuilder</title>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">

</head>
<body class="body">

<div class="layui-layout">
    <form class="layui-form " action="{:url('mvcbuilder/build_action')}" method="post" lay-filter="search">
        <fieldset class="layui-elem-field" >
            <legend>模块基本信息</legend>
            <div class="layui-field-box" >

                <!--<div class="layui-form-item">-->
                    <!--<label class="layui-form-label">模块中文名称</label>-->
                    <!--<div class="layui-input-block">-->
                        <!--<input type="text" class="layui-input" name="module_name" lay-verify="required"  placeholder="模型中文名称">-->
                    <!--</div>-->
                <!--</div>-->
                {:CMaker('text')->label('生成模块目录')
                ->name('file_name')
                ->helpinfo()
                ->placeholder()
                ->layVerify('required')
                ->render()}

                {:CMaker('checkbox')->label('选择模型')
                ->name('models_id')
                ->option($models)
                ->fields('id,models_name')
                ->layVerify('required')
                ->render()}


            </div>
        </fieldset>




        <div class="layui-form-item" style="margin-left: 36%">
            <div class="layui-input-inline ">
                <button class="layui-btn"  lay-submit>提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript" src="/static/plugin/layui/layui.js"></script>
<script type="text/javascript" src="/static/plugin/lay-extend-module/config.js"></script>




</body>
</html>